a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.homeservice{
    display: flex;
    justify-content: space-around
    

}

.homebla{

    display: flex;
    gap: 24px;
    }


    .description1{
        display: flex;
        justify-content: center;
    }







